// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Variables
@import 'variables';

@import 'sidebar';

@import 'card';

@import 'tag';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.bg {
    background: $background;
}

.ligher-bg {
    background: $lighter-background;
}

.card-bg {
    background: $darker-background;
}

.btn-primary {
    color: $white;
}

#app {
    min-height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;




 justify-content: center;
    align-items: center;
    height: 80vh;
}
